svg {
	border: solid 1px #ccc;
}


.movieNode {
	font: 14px sans-serif;
	cursor: pointer;
	color:red;
}

.node {
	font: 12px sans-serif;
	cursor: pointer;
	color:#525252;
}

.movieNode circle {
	stroke: red;
	stroke-width: 2px;
}

.node circle {
	stroke: #525252;
	stroke-width: 2px;
}

.node text {
	
}

.link {
	fill: none;
	stroke: #525252;
	stroke-width: 1.5px;
}